.field {
    width: max-content;
}

.row {
    margin-right: auto;
    margin-left: auto;
}

.col {
    border: 1px solid black;
    background-color: white;
    -moz-box-shadow: inset 0 0 10px grey;
    -webkit-box-shadow: inset 0 0 10px grey;
    box-shadow: inset 0 0 10px grey;
}

.easy {
    width: 100px;
    height: 100px;
}

.normal {
    width: 60px;
    height: 60px;
}

.hard {
    width: 40px;
    height: 40px;
}

.blue {
    background-color: #FEFF01;
    cursor: pointer;
}

.green {
    background-color: #00FF00;
}

.red {
    background-color: #FF0000;
}