.App {
  text-align: center;
  height: 100vh;
}

.app-header {
  background: white !important;
}

.app-side {
  background: white !important;
}

.app-content {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

tr td{
  border: 1px solid black;
}

.winnerName {
  font-size: 24px;
  font-weight: 900;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

  background: gold;
  z-index: 99;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: inset 0 0 10px grey;
  display: flex;
  align-items: center;
  justify-content: center;
}